<div class="row">
  <div class="col-md-12">
    <section class="hero-content">
      <h1 class="p2 hero-title">Voodoo List</h1>
    </section>
  </div>
</div>
<section class="selling-points">
<div class="row font-color">
  <div class="col-md-4">
    <h3 class="point column third">Keep track of your to do's or else..<h3>
  </div>
  <div class="col-md-4">
    <h3 class="point column third">To do items expire and you'll get cursed<h3>
  </div>
  <div class="col-md-4">
    <h3 class="point column third">Easily manage todo items by signing up<h3>
  </div>
</section>
</div>
