/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.p2 {
  font-family: 'Permanent Marker', cursive;
}

.font-color {

}

.user-info {
  margin-top: 11px;
}

.nav {
  margin-top: 5px;
}

.landing {
  // background-color:; set me
  // background-color: #373645;
}

.hero-content{
  position: relative;
  min-height: 600px;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  color: white;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; /* make sure the title inhabits the full width of its container*/
  text-align: center; /* aligns text in the horizontal center of the element */
  font-size: 10rem; /* specifies the size of the font in root em units*/
  font-weight: 300; /* makes the font thinner or lighter weight */
  text-transform: uppercase; /* transforms the text to be all uppercase lettering*/
  letter-spacing: 0.5rem; /* puts 0.5 root ems worth of space between each other */
  text-shadow: 1px 1px 0px rgb(58,23,63); /* creates a shadow underneath the text for readability over the image */
}

.selling-points {
  position: relative
}

.point{
  position: relative;
  padding:2rem;
  text-align: center;
}

.point .point-title{
  font-size: 1.25rem;
}
